.FAQs {
  font-weight: bold;
  text-align: center;
  padding-top: 5%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.backArrow {
  float: left;
}
.btn-outline-warning {
  font-size: 10px;
  font-weight: bold;
  width: max-content;
  border-radius: 20px;
}
